/* Spotify Covers Go Wheeeee */
/* profile */
.assetsLargeImageSpotify-17ME3M {
  animation: spin 3s linear infinite;
  border-radius: 50%
}
/* the animation  */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
